---
title: "Categories"
layout: default
permalink: "/categories.html"
---




{% for category in site.categories %}
  {% assign slug = category[0] %}
  {% include category-list.html slug=slug %}

  <div class="blog-grid-container">
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
          {% include postbox.html %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </div>
{% endfor %}
